@import 'bootstrap-icons';

:root {
  --primary: #ffffff;
  --secondary: #ffffff;
  --accent: #ffffff;
  --neutral: #ffffff;
  --base-100: #ffffff;
  --base-200: #ffffff;
  --base-300: #ffffff;
}

[data-theme='light'] .dark-mode-only {
  display: none;
}

[data-theme='dark'] .light-mode-only {
  display: none;
}
