---
const YEAR = new Date().getFullYear()
---

<footer class="footer">
  <div>
    <p>Tauri grayscale logo</p>
    <p>&copy; Copyright {YEAR} Tauri Contributors, CC-BY / MIT</p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
  </div>
</footer>
