---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="container mx-auto prose">
    <h1>Tauri 2.0</h1>
    <h2>The Mobile Release</h2>
    <button class="btn">Button</button>
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-secondary">Button</button>
    <button class="btn btn-accent">Button</button>
    <button class="btn btn-ghost">Button</button>
    <button class="btn btn-link">Button</button>
  </div>
</Layout>
