---
const { frontmatter } = Astro.props

const guides = [
  {
    title: 'Getting Started',
    link: '/guides/getting-started',
  },
  {
    title: 'Development',
    link: '/guides/development',
  },
  {
    title: 'Debugging',
    link: '/guides/debugging',
  },
  {
    title: 'Testing',
    link: '/guides/testing',
  },
  {
    title: 'Building',
    link: '/guides/building',
  },
  {
    title: 'Distribution',
    link: '/guides/distribution',
  },
]
---

<div class="drawer-side">
  <label for="leading-sidebar" class="drawer-overlay"></label>
  <ul class="menu bg-base-200 py-8 w-60">
    <li class="menu-title">
      <span>Guides</span>
    </li>
    {
      guides.map((entry) => (
        <li class={frontmatter.url == entry.link ? 'bordered' : ''}>
          <a href={entry.link}>{entry.title}</a>
        </li>
      ))
    }
  </ul>
</div>
