---
import '../styles/global.css'
import NavBar from '../components/Layout/NavBar.astro'
import NavDrawer from 'src/components/Layout/NavDrawer.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      // Lets us preview dark mode for now
      document.documentElement.setAttribute('data-theme', 'dark')
    </script>
  </head>
  <body>
    <div class="drawer">
      <NavBar />
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="nav-drawer" class="">Open drawer</label>
        <slot />
      </div>
      <div class="drawer-side">
        <NavDrawer />
      </div>
    </div>
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
</style>
