---
import '../styles/global.css'
import Header from './Header.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      // Lets us preview dark mode for now
      document.documentElement.setAttribute('data-theme', 'dark')
    </script>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
