---
import BaseLayout from './BaseLayout.astro'
import LeadingSidebar from '../components/Layout/LeadingSidebar.astro'
import Footer from '../components/Layout/Footer.astro'

const { frontmatter } = Astro.props
---

<BaseLayout>
  <div class="drawer drawer-mobile">
    <input id="leading-sidebar" type="checkbox" class="drawer-toggle" />
    <LeadingSidebar frontmatter={frontmatter} />
    <div class="drawer-content h-full flex flex-col p-8">
      <main class="prose grow max-w-none">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</BaseLayout>
