---
import BaseLayout from './BaseLayout.astro'
import LeadingSidebar from '../components/LeadingSidebar.astro'
import Footer from './Footer.astro'
import TrailingSidebar from '../components/TrailingSidebar.astro'

const { frontmatter } = Astro.props
---

<BaseLayout>
  <div class="drawer drawer-mobile">
    <input id="leading-sidebar" type="checkbox" class="drawer-toggle" />
    <LeadingSidebar frontmatter={frontmatter} />
    <div class="drawer-content h-full flex flex-col p-8">
      <main class="prose grow">
        <slot />
      </main>
      <Footer />
    </div>
    <!-- <TrailingSidebar /> -->
  </div>
</BaseLayout>
