<footer class="self-end footer py-10">
  <div>
    <p>Tauri grayscale logo</p>
    <p>Copyright</p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
</footer>
