---
import '../styles/global.css'
import Header from './Header.astro'
import Footer from './Footer.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      // Lets us preview dark mode for now
      document.documentElement.setAttribute('data-theme', 'dark')
    </script>
  </head>
  <body>
    <Header />
    <main class="prose">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #24c8db 30%,
      white 60%
    );
  }
</style>
