---
import BaseLayout from './BaseLayout.astro'
import Footer from '../components/Layout/Footer.astro'
---

<BaseLayout>
  <div class="h-full flex flex-col">
    <main class="grow">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
