---
import BaseLayout from './BaseLayout.astro'
import Footer from './Footer.astro'
---

<BaseLayout>
  <div class="h-full flex flex-col bg-slate-500">
    <main class="grow">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
